<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>HighSNR</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
	  		tex2jax: { inlineMath: [['$$','$$'],['\\(','\\)']]}
		});
	</script> 
	<script type='text/javascript' src='http://beta.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    </head>
    <body>
        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            powered by 
	    <a href="http://www.nginx.org">nginx</a>, 
	    <a href="http://www.openbsd.org">openbsd</a>, and  
            <a href="http://jaspervdj.be/hakyll">hakyll</a>
        </div>
    </body>
</html>
